<footer class="footer drk-blue">    
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                @*<ul>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>*@
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    &copy; <script>document.write(new Date().getFullYear())</script> FNF
                </span>
            </div>
        </div>
    </div>
</footer>    