<nav class="navbar navbar-expand-lg fixed-top navbar-default" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/home/register?email=foo@bar.com">EasyPay - FNF<!-- <img src="~/Images/fnf_logo_trans.fw.png" title="EasyPay - Fidelity National Finance" style="width: 65%; height: auto;"> --></a>
            <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-burger collapsed ml-auto" data-target="#navbarToggler" data-toggle="collapse" type="button">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link" rel="tooltip" title="Home" data-placement="bottom">Home</a></li>
                <!--li class="nav-item"><a href="/home/login" class="nav-link" title="Login" rel="tooltip" data-placement="bottom">Login</a></li-->
                <li class="nav-item"><a class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" href="/home/logout">Logout</a></li>
                <li class="nav-item"><a class="nav-link" rel="tooltip" title="Register" data-placement="bottom" href="/home/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" rel="tooltip" title="Invoice" data-placement="bottom" href="/home/invoices">Invoice</a></li>
                <li class="nav-item"><a class="nav-link" rel="tooltip" title="Invoice" data-placement="bottom" href="/home/paymenthistory">History</a></li>
            </ul>
        </div>
    </div>
</nav>