<div class="wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mr-auto ml-auto">
                    <h2>EasyPay - FNF</h2>
                    <h4 class="pt-3">Oops! You're lost.</h4>
                    <p class="text-muted">The page you are looking for was not found.</p>
                </div>
            </div>
        </div>
    </div>
</div>