
<div class="wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mr-auto ml-auto">
                    <h2>Your Account is Blocked</h2>
                    <p> Please Contact Customer Service at 888-888-8888 to discuss your account.</p>
                </div>
            </div>
        </div>
    </div>
</div>