<div class="wrapper">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mr-auto ml-auto">
                    <h2>Existing EasyPay Account</h2>
                    <p>Seems like you are already registered with EasyPay. Please continue to the <a [routerLink]="['/login']" title="Login" rel="tooltip" title="Login" data-placement="bottom">login</a> page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
