<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="controlCenter.url" value="https://agency-webapi.fnf.com/controlCenter/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="authenticationService.apiKey" value="4742FF02-C73D-4F36-BABE-B9A3CB334E19" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="authenticationService.url" value="https://agency-webapi.fnf.com/o/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="DR" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WindowsShareLocation" value="\\fnfglobal.local\Apps\Agency\Prod\logs\prod\easypay" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>