<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="controlCenter.url" value="https://agency-webapi-qa2.fnf.com/controlCenter/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="authenticationService.url" value="https://agency-webapi-qa2.fnf.com/o/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Environment" value="QA2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="WindowsShareLocation" value="\\gcsjvb-fnfcifs.fnfglobal.local\FNFAgencyPreProd01$\logs\qa2\easypay" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseLocalOverrides" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>