<div class="col-6 ml-auto mr-auto">
    <div id="resetForm">
        <h2 class="title">Reset Password</h2>
        <form id="forgotPWForm" class="form-horizontal" novalidate>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="userName" style="margin-bottom: 0;">Email Address <span class="icon-danger">*</span></label>
                    <div class="errorCheck"><input id="userName" type="email" class="form-control" required></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <input type="button" id="submit" class="btn btn-round" title="Request Password Reset?" value="Submit">
                </div>
            </div>
        </form>       
    </div>
    <div id="successMessage" style="display: none;" class="col-xs-12 blue nexa-light">
        <!-- Sorry, this is how AGENT TRAX DOES IT! -->
        <div class="jumbotron">
            <h2>Reset Email Sent</h2>
            <p>We have sent an email to the email address on record for the username you supplied. The link in the email will be good for 24 hours, and will allow you to change your password once.</p>
            <p>If you do not see the email in your inbox, please look in your SPAM and other directories as email rules on your system might effect how the email is located.</p>
            <p>If you do not receive the email where you expect, or you cannot remember what email address is associated with your account, you will need to contact customer support to proceed.</p>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
}

@section pageScripts{

    <script>

        var validator = $("#forgotPWForm");

        $.validator.addMethod("accept", function (value, element, param) {
            return value.match(new RegExp("^" + param + "$"));
        }, 'please enter a valid email');

        $(document).ready(function () {

            $('#userName').blur(function () {
                validator.validate();
            });

            $('#submit').click(function () {
                if(validator.valid()) {
                    //Call the WebAPI to generate a code to email to the user and hide existing div and show SuccessMessage div
                    $.ajax({
                        type: "POST",
                        accepts: "application/json",
                        contentType: 'application/json',
                        url: "/api/v1/Administration/ForgotPassword?emailAddress=" + $('#userName').val(),
                        success: function (user) {
                            console.log("Request sent to send email");
                            $("#resetForm").hide();
                            $("#successMessage").css("display", "");
                            $("successMessage").show();
                        },
                        error: function (errorMsg) {
                            console.log("Well, that didn't work!  Error: ", errorMsg);
                        },
                        complete: function () {
                            console.log("I'm done.");
                        }
                    })
                } else {
                    //alert("NO SOUP FOR YOU!");
                }
            });
        });

        validator.validate({
            rules: {
                userName: {
                    required: true,
                    email: true,
                    minlength: 1,
                    maxlength: 50,
                    accept: '[-0-9a-zA-Z.+_]+@@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}'
                }
            },
            messages: {
                userName: {
                    required: "Please enter a valid email address",
                    maxlength: "Your Email Address can not be longer than 50 characters"
                }
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the help-block class to the error element
                error.addClass("help-block text-danger font-weight-bold");

                // Add `has-feedback` class to the parent div.form-group
                // in order to add icons to inputs
                element.parents(".errorCheck").addClass("has-feedback");

                if (element.prop("type") === "radio") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if (!element.next("span")[0]) {
                    $("<span class='fa fa-times form-control-feedback'></span>").insertAfter(element);
                }
            },
            success: function (label, element) {
                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if (!$(element).next("span")[0]) {
                    $("<span class='fa fa-check form-control-feedback'></span>").insertAfter($(element));
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parents(".errorCheck").addClass("has-danger").removeClass("has-success");
                $(element).next("span").addClass("fa-times").removeClass("fa-check");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents(".errorCheck").addClass("has-success").removeClass("has-danger");
                $(element).next("span").addClass("fa-check").removeClass("fa-times");
            }
        });

    </script>

}
