<div class="col-6 ml-auto mr-auto">
    <div id="successMessage" class="col-xs-12 blue nexa-light">
        <!-- Sorry, this is how AGENT TRAX DOES IT! -->
        <div class="jumbotron">
            <h2>Registration Incomplete</h2>
            <p>At this time, your registration process is not complete.  Your account is in the queue with support to be associated with your requested company and contacts.</p>
            <p>We have sent an email to the email address on record for the username you supplied. The link in the email is only good for 24 hours, and will allow you to change your password once.</p>
            <p>If you do not see the email in your inbox, please look in your SPAM and other directories as email rules on your system might effect how the email is located.</p>
            <p>If you do not receive the email where you expect, or you cannot remember what email address is associated with your account, you will need to contact customer support to proceed.</p>
        </div>
    </div>
</div>