<div id="invoice_table">
    <div id="row">
        <div id="left"></div>
        <div id="middle"></div>
        <div class="pull-right text-right" id="right" style="height: 40px;">
            <span class="control-label pull-left" for="CreditCard">Export Format:</span>
           @* <button class="btn btn-neutral k-button k-grid-pdf" id="PdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="font-size: 1.25rem"></i></button>*@
            <button class="btn btn-neutral k-button k-grid-excel" id="excelExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="font-size: 1.25rem"></i></button>
        </div>
    </div>
    <div id="row" class="runningTotal">
        <div id="left" class="text-right text-nowrap" style="width: 400px; max-width: 400px;">
   @* <span class="control-label pull-left" for="CreditCard">Credit Card #:</span>
    <select class="form-control" name="CreditCard" style="width: 250px;"></select>*@
        </div>

        <div id="middle"></div>
        <div id="right" class="text-right mw-100">
            Invoices: <span class="invCount"></span>&nbsp;&nbsp;Total Payment: $<span class="invTotal"></span> <button class="btn btn-round selectedInvoice" onclick='PaySelected();' data-toggle="modal" data-target="#myModal" style="margin-left: 15px;" [disabled]="!hasSelectedAnItem">View Cart</button>
        </div>
    </div>
</div>
<div id="row">
    <div id="invoiceGrid"></div>
</div>
<div id="invoice_table" class="runningTotal total_bottom mw-100">
    <div id="row">
        <div id="right" class="text-right mw-100">
            Invoices: <span class="invCount"></span>&nbsp;&nbsp;Total Payment: $<span class="invTotal"></span> <button class="btn btn-round selectedInvoice" onclick='PaySelected();' data-toggle="modal" data-target="#myModal" style="margin-left: 15px;" [disabled]="!hasSelectedAnItem">View Cart</button>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="paymentSummary" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="paymentSummary">Invoice Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div>{{invoice.OrderNumber}}&nbsp;&nbsp;&nbsp;&nbsp;{{invoice.InvoiceDate}}&nbsp;&nbsp;&nbsp;&nbsp;{{invoice.CurrentBalance}}</div>*@
                </div>
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" class="btn btn-danger btn-link">Cancel</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button type="button" class="btn btn-success btn-link">Pay Selected</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageScripts{

<script src="~/js/invoices.js"></script>   
    <script>
        GetUnpaidInvoices(138098);
    </script>
}