<div id="invoice_table">
    <div id="row">
        <div id="left"></div>
        <div id="middle"></div>
        <div class="pull-right text-right" id="right" style="height: 40px;">
            <span class="control-label pull-left" for="CreditCard">Export Format:</span>
            @*<button class="btn btn-neutral k-button k-grid-pdf" id="PdfExport" title="Export to PDF"><i class="fa fa-file-pdf-o" style="font-size: 1.25rem"></i></button>*@
            <button class="btn btn-neutral k-button k-grid-excel" id="excelExport" title="Export to Excel"><i class="fa fa-file-excel-o" style="font-size: 1.25rem"></i></button>
        </div>
    </div>
</div>
<div id="row">
    <div id="invoiceGrid"></div>
</div>

@section pageScripts{
    
    <script src="~/js/invoices.js"></script>
    <script>

        $(document).ready(function () {
            GetPaymentHistory(1000009);
        });
    </script>
}