
@{
    ViewBag.Title = "PaymentHistory";
}

    <div id="invoice_table">
        <div id="row">
            <div id="left"></div>
            <div id="middle"></div>
            <div class="pull-right text-right" id="right" style="height: 40px;">
                <span class="control-label pull-left" for="CreditCard">Export Format:</span>
                <button class="btn btn-neutral k-button k-grid-pdf" kendogridpdfcommand="" title="Export to PDF"><i class="fa fa-file-pdf-o" style="font-size: 1.25rem"></i></button>
                <button class="btn btn-neutral k-button k-grid-excel" kendogridexcelcommand="" title="Export to Excel"><i class="fa fa-file-excel-o" style="font-size: 1.25rem"></i></button>
            </div>
        </div>
    </div>
    <div id="row">
        <div id="invoiceGrid"></div>
    </div>

    @section pageScripts{
        <script>

            $(document).ready(function () {
            
                $.ajax({
                    url: "/api/v1/Crrar/GetHistory?contactId=1000009"
                }).done(function (results) {

                    var grid = $("#invoiceGrid").kendoGrid({
                        dataSource: { data: results, pageSize: 10 },
                        pageSize: 10,
                        sortable: true,
                        filterable: true,
                        pageable: {
                            alwaysVisible: true,
                            pageSizes: [5, 10, 20, 100],
                            previousNext: true,
                            input: false,
                            info: true,
                            buttonCount: 5,
                            messages: {
                                display: "{0}-{1} of {2} Invoices",
                                itemsPerPage: "Invoices"
                            }
                        },
                        groupable: true,
                        detailInit: detailInit,
                        dataBound: function(){
                            $("#invoiceGrid .k-grid-header").removeAttr("style");
                            $('#invoiceGrid .k-grid-header-wrap').css("border-width", "0");
                            $("table[role=treegrid").addClass("table table-hover nowrap dataTable dtr-inline");
                            $("table[role=treegrid] tr.k-master-row td").addClass("easyPay_cell");
                            //$(".k-pager-wrap.k-grid-pager.k-widget.k-floatwrap").wrap("<div id='invoice_table'><div id='row'></div></div>");
                            //$(".k-pager-info.k-label").wrap('<div class="pull-left" id="left"></div>');
                            //$("#row > div > a.k-link.k-pager-nav.k-pager-first").before('<div class="pull-right" id="right">');
                            //$("#row > div > a.k-link.k-pager-nav.k-pager-last").after('</div>');
                            $("#excelExport").click(function (e) {
                                var grid = $("#invoiceGrid").data("kendoGrid");
                                grid.saveAsExcel();
                            });
                            $("#PdfExport").click(function (e) {
                                var grid = $("#invoiceGrid").data("kendoGrid");
                                grid.saveAsPDF();
                            });
                        },
                        reorderable: false,
                        columns: [
                            { field: "trxDate", title: "Date", template: "#= kendo.toString(kendo.parseDate(date, 'yyyy-MM-dd'), 'MM/dd/yyyy') #" },
                            { field: "confirmationNbr", title: "Confirmation No." },
                            { field: "userName", title: "UserName" },
                            { field: "amount", title: "Amount", format: "{0:c}" }
                        ]
                    }).data("kendoGrid");

                    function detailInit(e) {
                        console.log(e);

                        $("<div class=\"invoiceDetails\"/>").appendTo(e.detailCell).kendoGrid(
                            {
                                dataSource: { data: e.data.invoices, pageSize: 10 },
                                columns: [
                                    { field: "invoiceNbr", title: "Invoice Number" },
                                    { field: "billTo", title: "Contact Name" },
                                    { field: "amount", title: "Amount" }
                                ],
                                 dataBound: function(){
                                    $("#invoiceGrid > div.k-grid-content.k-auto-scrollable > table > tbody > tr.k-detail-row > td.k-detail-cell > div > div.k-grid-header").removeAttr("style");
                            
                                },
                                serverPaging: false,
                                serverSorting: true,
                                serverFiltering: true,
                                pageSize: 10,
                                sortable: false,
                                pageable: false
                            });
                    }
                });

            });
        </script>
    }