<style>
    .form-horizontal .has-feedback .form-control-feedback {
        right: 20px;
    }

    .has-error .form-control-feedback {
        color: #a94442;
    }

    .form-control-feedback {
        position: absolute;
        top: 35px;
        z-index: 2;
        text-align: center;
        pointer-events: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4 ml-auto mr-auto" id="registrationPreFlight">
            <form id="pageForm" class="form-signin">
                <h2 class="title">Registration</h2>
                <div id="errorSummary" class="alert alert-danger" style="display: none;">
                    <div id="errorMessage"></div>
                </div>
                <div class="form-group">
                    <label for="preflightUsername">Enter your email address <span class="icon-danger">*</span></label>
                    <input type="email" id="preflightUsername" maxlength="30" required class="form-control col-lg-12">
                </div>
                <input type="button" id="registrationPreFlightSubmit" class="btn btn-round" value="Submit">
            </form>
        </div>
    </div>
    <div id="registrationFormControl" class="row" style="display: none;">
        <div class="col-sm-12 ml-auto mr-auto">
            <form id="registrationForm" method="post" class="form-horizontal" action="" novalidate>
                <h2 class="title">Registration</h2>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="userName">Email Address <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input id="userName" type="email" class="form-control" required pattern="[a-z0-9._%+-]+\u0040[a-z0-9.-]+\.[a-z]{2,3}$" data-email-msg="Email format is not valid" />
                            <input id="hid_username" type="hidden" value="" />
                        </div>
                    </div>
                </div>
                <div id="passwordRow" class="row" style="display: none;">
                    <div class="form-group col-sm-6">
                        <label class=" control-label" for="password">Password</label>
                        <div class="errorCheck">
                            <input type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="confirmPassword">Confirm password</label>
                        <div class="errorCheck">
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="firstName">First name <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input type="text" class="form-control" id="firstName">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="lastName">Last name <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input type="text" class="form-control" id="lastName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="companyId">Company Name <span class="icon-danger">*</span></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="companyId"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="phoneNumber">Phone Number <span class="icon-danger">*</span></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="phoneNumber"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="phoneExtension">Ext </label>
                        <div class="errorCheck"><input type="text" class="form-control" id="phoneExtension"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="mobileNumber">Mobile Number </label>
                        <div class="errorCheck"><input type="text" class="form-control" id="mobileNumber"></div>
                    </div>
                    <div class="form-group col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="timezone" class="control-label">Time Zone <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <select class="form-control" id="timezone" required>
                                <option value="">---Please Choose---</option>
                                <option value="AST">AST</option>
                                <option value="EST">EST</option>
                                <option value="CST">CST</option>
                                <option value="MST">MST</option>
                                <option value="PST">PST</option>
                                <option value="AKST">AKST</option>
                                <option value="HST">HST</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="commentsAgents" class="control-label">Comments/Additional Info</label>
                        <textarea class="form-control" id="commentsAgents" rows="3" maxlength="4000" placeholder="Please add your associations you would like the approver to verify"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Enable Multi-Factor Authentication</label>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="mFaEnabled" name="mFaEnabled[]" type="radio" value="true"> Yes
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="mFaEnabled" name="mFaEnabled[]" type="radio" value="false" checked> No
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        <input type="button" class="btn btn-primary" id="registerUser" value="Register">
                        <input type="reset" class="btn btn-info">
                        <a href="/home/login" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}
@section pageScripts{
    <script type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function (form) {
                
                    $(form).ajaxSubmit();
             
            }
        });

        $.validator.addMethod("accept", function (value, element, param) {
            return value.match(new RegExp("^" + param + "$"));
        },'please enter a valid email');
        
        $(document).ready(function(){
            
            /*$('#mFaEnabled').change(function(){
                $(this).validate({
                    if ($('#mFaEnabled[value="Yes"]:checked')) {
                        alert("Yes");
                        $('#MOBILE_NUMBER').attr('required');
                        MOBILE_NUMBER: "required"
                    } else {
                        $('#MOBILE_NUMBER').removeAttr('required');
                        MOBILE_NUMBER: ""
                    }
                });
            });*/

            $("#registrationPreFlightSubmit").on("click",
                function () {
                    registrationPreFlightSubmit();
                }
            );

            $("#registerUser").on("click",
                function () {
                    registerUser();
                }
            );

            // set up the masking for the phone and mobile
            $("#phoneNumber").mask("(999) 999-9999");
            $("#mobileNumber").mask("(999) 999-9999");
            $("#phoneExtension").mask("9999999999");
        });

        function registrationPreFlightSubmit() {
            console.log("Registration preflight fired.");
            // Validate the email address being entered.
            validateEasyPayUser(true, $("#preflightUsername").val());
        };
        var validator = $("#registrationForm"),
            status = $(".status");

        function registerUser() {
            validator.validate({
                            rules: {
                    userName: {
                        required: true,
                        email: true,
                        minlength: 1,
                        maxlength: 50,
                        accept: '[-0-9a-zA-Z.+_]+@@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}'
                    },
                    firstName: {
                        required: true,
                        minlength: 1,
                        maxlength: 50,
                        accept: '[a-zA-Z]*'
                    },
                    lastName: {
                        required: true,
                        minlength: 1,
                        maxlength: 50,
                        accept: '[a-zA-Z]*'
                    },
                    password: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 1,
                        maxlength: 50,
                        equalTo: "#PASSWORD"
                    },
                    timezone: {
                        required: true,
                        minlength: 1,
                        maxlength: 10
                    },
                    companyId: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    phoneNumber: {
                        required: true,
                        minlength: 1,
                        maxlength: 16
                    },
                    phoneExtension: {
                        maxlength: 10
                    },
                    mobileNumber: {
                        minlength: 1,
                        maxlength: 16,
                        required: {
                            depends: function (element) {
                                if ($('#mFaEnabled:checked').val() === 'true') {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                        /*
                        required: function(element) {
                            //return $('#mFaEnabled[value="Yes"]:checked')
                            if($('#mFaEnabled:checked').val() === 'Yes'){
                                $('#MOBILE_NUMBER').attr('required');
                                return true;
                            } else {
                                $('#MOBILE_NUMBER').removeAttr('required');
                                return false;
                            }
                        }*/
                    }
                    /*, agree1: "required"*/
                },
                messages: {
                    firstName: {
                        required: "Please enter your first name",
                        minlength: "Your first name can not be shorter than 1 character",
                        maxlength: "Your first name can not be longer than 50 characters"
                    },
                    lastName: {
                        required: "Please enter your last name",
                        minlength: "Your last name can not be shorter than 1 character",
                        maxlength: "Your last name can not be longer than 50 characters"
                    },
                    timezone: "Please select your timezone",
                    companyId: {
                        required: "Please enter your Company Name",
                        maxlength: "Your company name can not be longer than 50 characters"
                    },
                    phoneNumber: {
                        required: "Please enter a valid phone number"
                    },
                    mobileNumber: {
                        required: "For Multi-Factor Authentication a mobile number must be included"
                    },
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    confirmPassword: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    phoneExtension: {
                        maxlength: "Your extension can not be longer than 10 numbers",
                    },
                    userName: {
                        required: "Please enter a valid email address",
                        maxlength: "Your Email Address can not be longer than 50 characters"
                    }
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the help-block class to the error element
                    error.addClass("help-block text-danger font-weight-bold");

                    // Add `has-feedback` class to the parent div.form-group
                    // in order to add icons to inputs
                    element.parents(".errorCheck").addClass("has-feedback");

                    if (element.prop("type") === "radio") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }

                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if (!element.next("span")[0]) {
                        $("<span class='fa fa-times form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function (label, element) {
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if (!$(element).next("span")[0]) {
                        $("<span class='fa fa-check form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".errorCheck").addClass("has-danger").removeClass("has-success");
                    $(element).next("span").addClass("fa-times").removeClass("fa-check");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".errorCheck").addClass("has-success").removeClass("has-danger");
                    $(element).next("span").addClass("fa-check").removeClass("fa-times");
                }
            });

            var user = {
                "UserSysId": "0",
                "EmailAddress": $("#userName").val(),
                "Password": $("#password").val(),
                "FirstName": $("#firstName").val(),
                "LastName": $("#lastName").val(),
                "CompanyId": $("#companyId").val(),
                "PhoneNumber": $("#phoneNumber").val(),
                "PhoneExtension": $("#phoneExtension").val(),
                "MobileNumber": $("#mobileNumber").val(),
                "Timezone": $("#timezone").val(),
                "IsLocked": "0",
                "IsActive": "0",
                "Notes": $("#commentsAgents").val(),
                "UserGuid": "",
                "MfaEnabled[]": $("#mFaEnabled:checked").val(),
                "MfaPhoneNumber": $("#mobileNumber").val()
            };

           
            $('#commentsAgents').bind('copy', function (e) { e.preventDefault(); return false; });
            $('#commentsAgents').bind('paste', function (e) { e.preventDefault(); return false; });

            var endpointUrl = "";
            if (localStorage.getItem("CreateAuth0Record")) {
                localStorage.removeItem("CreateAuth0Record")
                endpointUrl = "/api/v1/Administration/AddUser?addAuth0=true";
            } else {
                endpointUrl = "/api/v1/Administration/AddUser";
            }

            $.ajax({
                type: "POST",
                accepts: "application/json",
                contentType: 'application/json',
                url: endpointUrl,
                data: JSON.stringify(user),
                success: function (user) {
                    console.log("New user created: ", user);
                },
                error: function (errorMsg) {
                    console.log("Something broke: ", errorMsg);
                },
                complete: function () {
                    console.log("I'm done.");
                }
            });
        };

        function validateEasyPayUser(sso, email) {
            var apiUrl = "/api/v1/Authorization/ValidateEmail?SSO=true&email=" + email.toLowerCase();

            $.ajax({
                url: apiUrl,
                type: "POST",
                success: function (data) {
                    if (data) {
                        window.location.href = "/home/index?emailAddress=" + email;
                    } else {
                        // Show everything...records will need to be added to both systems.
                        console.log("No existing user record found in either Auth0 or EasyPay");
                        $("#registrationPreFlight").hide();
                        $("#passwordRow").show();
                        $("#registrationFormControl").show();
                        localStorage.setItem("CreateAuth0Record", "true");
                    }
                },
                error: function (textStatus, errorThrown) {
                    console.log("Something happened: ", errorThrown);
                    return null;
                },
                complete: function () { }
            });
        }
    </script>
}
