@{
    ViewBag.Title = "Register";
}
<style>
    .form-horizontal .has-feedback .form-control-feedback { right: 20px; }
    .has-error .form-control-feedback { color: #a94442; }
    .form-control-feedback { position: absolute; top: 35px; z-index: 2; text-align: center; pointer-events: none; }
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-4 ml-auto mr-auto" id="registrationPreFlight">
            <form id="pageForm" class="form-signin" onsubmit="return submitForm()">
                <h2 class="title">Registration</h2>
                <div id="errorSummary" class="alert alert-danger" style="display: none;">
                    <div id="errorMessage"></div>
                </div>
                <div class="form-group">
                    <label for="username">Enter your email address <span class="icon-danger">*</span></label>
                    <input type="email" id="username" maxlength="30" required class="form-control col-lg-12">
                </div>
                <button id="formSubmit" class="btn btn-round" type="submit" disabled="disabled">Submit</button>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 ml-auto mr-auto">
            <form id="registrationForm" method="post" class="form-horizontal" action="" novalidate>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="USER_NAME">Email Address <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input id="USER_NAME" name="USER_NAME" type="email" class="form-control" required pattern="[a-z0-9._%+-]+\u0040[a-z0-9.-]+\.[a-z]{2,3}$" data-email-msg="Email format is not valid" />
                            <input id="hid_username" type="hidden" value="" />
                        </div>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="form-group col-sm-6">
                        <label class=" control-label" for="PASSWORD">Password</label>
                        <div class="errorCheck">
                            <input type="password" class="form-control" id="PASSWORD" name="PASSWORD">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="confirm_PASSWORD">Confirm password</label>
                        <div class="errorCheck">
                            <input type="password" class="form-control" id="confirm_PASSWORD" name="confirm_PASSWORD">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <!--label for="FIRST_NAME">First Name <span class="icon-danger">*</span></label>
                        <input type="text" class="form-control" id="FIRST_NAME" maxlength="50" required pattern="[a-zA-Z]*" /-->
                        <label class="control-label" for="FIRST_NAME">First name <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <!--label for="LAST_NAME">Last Name <span class="icon-danger">*</span></label>
                        <input type="text" class="form-control" pattern="[a-zA-Z]*" maxlength="50" id="LAST_NAME" required value="" /-->
                        <label class="control-label" for="LAST_NAME">Last name <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label" for="COMPANY_ID">Company Name <span class="icon-danger">*</span></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="COMPANY_ID" name="COMPANY_ID"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="PHONE_NUMBER">Phone Number <span class="icon-danger">*</span></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="PHONE_NUMBER" name="PHONE_NUMBER"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="PHONE_EXTENSION">Ext <!--span class="icon-danger">*</span--></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="PHONE_EXTENSION" name="PHONE_EXTENSION"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="control-label" for="MOBILE_NUMBER">Mobile Number <!--span class="icon-danger">*</span--></label>
                        <div class="errorCheck"><input type="text" class="form-control" id="MOBILE_NUMBER" name="MOBILE_NUMBER"></div>
                    </div>
                    <div class="form-group col-sm-6"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="TIMEZONE" class="control-label">Time Zone <span class="icon-danger">*</span></label>
                        <div class="errorCheck">
                            <select class="form-control" id="TIMEZONE" name="TIMEZONE" required>
                                <option value="">---Please Choose---</option>
                                <option value="AST">AST</option>
                                <option value="EST">EST</option>
                                <option value="CST">CST</option>
                                <option value="MST">MST</option>
                                <option value="PST">PST</option>
                                <option value="AKST">AKST</option>
                                <option value="HST">HST</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6"></div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                       <label for="COMMENTS_AGENTS" class="control-label">Comments/Additional Info</label>
                        <textarea class="form-control" id="COMMENTS_AGENTS" rows="3" placeholder="Please add you associations you would like the Approver to verify"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Enable Multi-Factor Authentication</label>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="mFaEnabled" type="radio" value="Yes"> Yes
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" id="mFaEnabled" type="radio" value="No"> No
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        <button class="btn btn-primary" id="register" name="signup1" value="Register">Register</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                        <a href="/home/login" class="btn btn-default">Cancel</a>
                    </div>
                </div>
                <!--div class="form-group">
                    <div class="errorCheck col-sm-offset-4">
                        <div class="checkbox">
                            <label><input type="checkbox" id="agree1" name="agree1" value="agree">Please agree to our policy</label>
                        </div>
                    </div>
                </div-->
            </form>
        </div>
    </div>
</div>











    <div class="container" id="registrationForm" style="display: none;"><!-- -->
    
        <form id="registrationForm" novalidate>
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <label for="USER_NAME" class="required">Email Address <span class="icon-danger">*</span></label>
                    <input id="userName" type="email" class="form-control" required pattern="[a-z0-9._%+-]+\u0040[a-z0-9.-]+\.[a-z]{2,3}$" data-email-msg="Email format is not valid" />
                    <input id="hid_username" type="hidden" value="" />
                </div>
            </div>
            <div id="passwordRow" class="row" style="display: none;">
                <div class="form-group col-sm-6">
                    <label for="PASSWORD">Password <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" id="PASSWORD" name="PASSWORD" required />
                </div>
                <div class="form-group col-sm-6">
                    <label for="CONF_PASSWORD">Confirm Password <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" id="CONF_PASSWORD" name="CONF_PASSWORD" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="FIRST_NAME">First Name <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" id="FIRST_NAME" maxlength="50" required pattern="[a-zA-Z]*" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="LAST_NAME">Last Name <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" pattern="[a-zA-Z]*" maxlength="50" id="LAST_NAME" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="COMPANY_ID">Company Name <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" id="COMPANY_ID" name="COMPANY_ID" maxlength="50" required />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="PHONE_NUMBER">Phone Number <span class="icon-danger">*</span></label>
                    <input type="text" class="form-control" id="PHONE_NUMBER" maxlength="16" required value="" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="PHONE_EXTENSION">EXT</label>
                    <input type="text" maxlength="10" class="form-control" id="PHONE_EXTENSION" pattern="[0-9]+" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-8">
                    <label for="MOBILE_NUMBER">Mobile Number</label>
                    <input type="text" class="form-control" id="MOBILE_NUMBER" value="" maxlength="16" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="TIMEZONE">Time Zone <span class="icon-danger">*</span></label>
                    <select class="form-control" id="TIMEZONE" required>
                        <option value="AST">AST</option>
                        <option value="EST">EST</option>
                        <option value="CST">CST</option>
                        <option value="MST">MST</option>
                        <option value="PST">PST</option>
                        <option value="AKST">AKST</option>
                        <option value="HST">HST</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="COMMENTS_AGENTS">Comments/Additional Info</label>
                    <textarea class="form-control" id="COMMENTS_AGENTS" rows="3" maxlength="4000" placeholder="Please add you associations you would like the Approver to verify"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label class="control-label">Enable Multi-Factor Authentication</label>
                    <div class="form-check-radio">
                        <label class="radio-inline control-label">
                            <input type="radio" class="form-check-input" id="mFaEnabled"  name="mfaEnable" value="1"  class="excludeReset"> Yes
                        </label> 
                        <!--label class="form-check-label">
                            <input class="form-check-input" id="mFaEnabled" type="radio" value="Yes"> Yes
                            <span class="form-check-sign"></span>
                        </label-->
                    </div>
                    <div class="form-check-radio">
                        <!--label class="form-check-label">
                            <input class="form-check-input" id="mFaEnabled" type="radio" value="No" checked> No
                            <span class="form-check-sign"></span>
                        </label-->
                        <label class="radio-inline control-label">
                            <input type="radio" name="mfaEnable" checked="checked" value="0"  class="excludeReset">No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group pull-right">
                    <button class="btn btn-primary" id="register">Register</button>
                    <a href="/home/login" class="btn btn-default">Cancel</a>
                </div>
            </div>
            <div class="status"></div>
        </form>
    </div>
    

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}
@section pageScripts{


<script type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function () {
                alert("submitted!");
            }
        });
        $.validator.addMethod("accept", function(value, element, param) {
            return value.match(new RegExp("^" + param + "$"));
        },'please enter a valid email');
        
        $(document).ready(function(){
            
            /*$('#mFaEnabled').change(function(){
                $(this).validate({
                    if ($('#mFaEnabled[value="Yes"]:checked')) {
                        alert("Yes");
                        $('#MOBILE_NUMBER').attr('required');
                        MOBILE_NUMBER: "required"
                    } else {
                        $('#MOBILE_NUMBER').removeAttr('required');
                        MOBILE_NUMBER: ""
                    }
                });
            });*/

            $("#username").on("blur",
                function () {
                    checkUsername($(this).val());
                });

            // set up the masking for the phone and mobile
            $("#PHONE_NUMBER").mask("(999) 999-9999");
            $("#MOBILE_NUMBER").mask("(999) 999-9999");
            $("#PHONE_EXTENSION").mask("9999999999");

            var validator = $("#registrationForm"),
                status = $(".status");

            // Check for parameters
            var qp = url2json(window.location.href);
            console.log(qp);
            if (qp) {
                if (qp.email) {
                    $("#USER_NAME").val(qp.email);
                    $("#hid_username").val(qp.email);
                    $("#USER_NAME").attr("disabled", "disabled");
                }
            }

            if (localStorage.getItem("ssoNoFops") === "true") {
                $("#passwordRow").show();
            }

            $("form").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    status.text("You're good.")
                        .removeClass("invalid")
                        .addClass("valid");
                } else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            });




            validator.validate({
                
                rules : {
                    USER_NAME : {
                        required: true,
                        email: true,
                        minlength: 1,
                        maxlength: 50,
                        accept: '[-0-9a-zA-Z.+_]+@@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}'
                    },
                    FIRST_NAME: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    LAST_NAME: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    PASSWORD: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    CONF_PASSWORD: {
                        required: true,
                        minlength: 1,
                        maxlength: 50,
                        equalTo: "#PASSWORD"
                    },
                    TIMEZONE: { required: true,
                        minlength: 1,
                        maxlength: 10 
                    },
                    COMPANY_ID: {
                        required: true,
                        minlength: 1,
                        maxlength: 50
                    },
                    PHONE_NUMBER: {
                        required: true,
                        minlength: 1,
                        maxlength: 16
                    },
                    PHONE_EXTENSION: {
                        maxlength: 10
                    },
                    MOBILE_NUMBER: {
                        minlength: 1,
                        maxlength: 16,
                        required: {
                            depends: function(element){
                                if ($('#mFaEnabled:checked').val() === 'Yes') {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
/*
                        required: function(element) {
                            //return $('#mFaEnabled[value="Yes"]:checked')
                            if($('#mFaEnabled:checked').val() === 'Yes'){
                                $('#MOBILE_NUMBER').attr('required');
                                return true;
                           } else {
                                $('#MOBILE_NUMBER').removeAttr('required');
                                return false;
                           }
                        }*/
                    }
                    /*, agree1: "required"*/
                },
                messages: {
                    FIRST_NAME: {
                        required: "Please enter your first name",
                        minlength: "Your first name can not be shorter than 1 character",
                        maxlength: "Your first name can not be longer than 50 characters"
                    },
                    LAST_NAME: {
                        required: "Please enter your last name",
                        minlength: "Your last name can not be shorter than 1 character",
                        maxlength: "Your last name can not be longer than 50 characters"
                    },
                    TIMEZONE: "Please select your timezone",
                    COMPANY_ID: {
                        required: "Please enter your Company Name",
                        maxlength: "Your company name can not be longer than 50 characters"
                    },
                    PHONE_NUMBER: {
                        required: "Please enter a valid phone number"
                    },
                    MOBILE_NUMBER: { 
                        required: "For Multi-Factor Authentication a mobile number must be included"
                    },
                    PASSWORD: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long"
                    },
                    CONF_PASSWORD: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 5 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    PHONE_EXTENSION: {
                        maxlength: "Your extension can not be longer than 10 numbers",
                    },
                    USER_NAME: {
                        required: "Please enter a valid email address",
                        maxlength: "Your Email Address can not be longer than 50 characters"
                    }
                },
                errorElement: "em",
                errorPlacement: function (error, element){
                    // Add the help-block class to the error element
                    error.addClass("help-block text-danger font-weight-bold");

                    // Add `has-feedback` class to the parent div.form-group
                    // in order to add icons to inputs
                    element.parents(".errorCheck").addClass("has-feedback");

                    if(element.prop("type") === "radio") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }

                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if(!element.next("span")[0]){
                        $("<span class='fa fa-times form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function(label, element){
                    // Add the span element, if doesn't exists, and apply the icon classes to it.
                    if(!$(element).next("span")[0]){
                        $("<span class='fa fa-check form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function(element, errorClass, validClass){
                    $(element).parents(".errorCheck").addClass("has-danger").removeClass("has-success");
                    $(element).next("span").addClass("fa-times").removeClass("fa-check");
                },
                unhighlight: function(element, errorClass, validClass){
                    $(element).parents(".errorCheck").addClass("has-success").removeClass("has-danger");
                    $(element).next("span").addClass("fa-check").removeClass("fa-times");
                }
            });
            $('#COMMENTS_AGENTS').bind('copy',function(e) { e.preventDefault(); return false; });
            $('#COMMENTS_AGENTS').bind('paste',function(e) { e.preventDefault(); return false; });

            $("#register").click(function () {

                if (validator.validate()) {
                    var user = {
                        "USER_SYS_ID": "0",
                        "USER_NAME": $("#USER_NAME:disabled") ? $("#hid_userName").val() : $("#USER_NAME").val(),
                        "PASSWORD": $("#password").val(),
                        "CONF_PASSWORD": $("#conf_password").val(),
                        "FIRST_NAME": $("#FIRST_NAME:disabled") ? $("#hid_firstName").val() : $("#FIRST_NAME").val(),
                        "LAST_NAME": $("#LAST_NAME:disabled") ? $("#hid_lastName").val() : $("#LAST_NAME").val(),
                        "COMPANY_ID": $("#COMPANY_ID:disabled") ? $("#hid_companyId").val() : $("#COMPANY_ID").val(),
                        "PHONE_NUMBER": $("#PHONE_NUMBER").val().replace(/\D/g,''),
                        "PHONE_EXTENSION": $("#PHONE_EXTENSION").val().replace(/\D/g,''),
                        "MOBILE_NUMBER": $("#MOBILE_NUMBER").val().replace(/\D/g,''),
                        "TIMEZONE": $("#TIMEZONE").val(),
                        "IS_LOCKED": "0",
                        "IS_ACTIVE": "0",
                        "COMMENTS_AGENTS": $("#COMMENTS_AGENTS").val(),
                        "USER_GUID": ""
                    };
                    console.log(user);
                    $.ajax({
                        type: "POST",
                        accepts: "application/json",
                        contentType: 'application/json',
                        url: "/api/v1/Administration/AddUser",
                        data: JSON.stringify(user)
                    }).done(function (user) {
                        console.log('New user added.', user)
                    });
                }
            });
        });

        var validSso = false;

        function checkUsername(value) {
            // clear any errors
            if ($("#errorSummary:visible")) {
                $("#errorMessage").val('');
                $("#errorSummary").hide();
            }

            // Set up test data if test email address encountered
            setTestData(value);

            // Scenario 1: Simulate internal email address being submitted
            var domain = value.split('@@');
            var internalDomains = ["fnf.com"];
            if (internalDomains.indexOf(domain[1]) != -1) {
                $("#errorMessage").html("Internal email addresses may not be registered via this form. Please contact the helpdesk at XXX-XXX-XXXX for assistance.");
                $("#errorSummary").show();
                return false;
            }

            // Scenario 2: Is existing SSO user
            // Contact the Authorization Service to see the registration status of Auth0
            // Simulate Blocked SSO from Auth0
            if (localStorage.getItem("ssoBlockedAuth0") === "true") {
                $("#errorMessage").html("An issue has been detected with this account. Please contact the helpdesk at XXX-XXX-XXXX for assistance. (Auth0 Blocked)");
                $("#errorSummary").show();
                return false;
            } else {
                // Check for token, if no token, check Auth0 via Authorization Service
                if (localStorage.getItem("validAuth0Token") === "true") {
                    validSso = true;
                    Promise.resolve(validateEasyPayUser(validSso, value)).then((result) => {
                        console.log("Result from EasyPay query: ", result);
                        //if (response) {
                        //    // They're in EasyPay, check to see if they Active and not Blocked
                        //    var user = json.parse(response.results);
                        //    if (user.is_Active === "0" || user.is_Blocked === "1") {
                        //        $("#errorMessage").html("An issue has been detected with this account. Please contact the helpdesk at XXX-XXX-XXXX for assistance. (EasyPay Blocked/Inactive)");
                        //        $("#errorSummary").show();
                        //        return false;
                        //    }
                        //}
                    });
                } else {
                }
            }
        }

        function submitForm() {
            alert('This will process the login via Auth0');
            return false;
        }

        async function validateEasyPayUser(sso, email) {
            var apiUrl = "/api/v1/Authorization/ValidateEmail?SSO=" + validSso + "&email=" + email.toLowerCase();

            await $.ajax({
                url: apiUrl,
                type: "POST",
                success: function (data) {
                    if (data) {
                        console.log("Ajax return: ", data);
                        return data;
                    } else {
                        return null;
                    }
                },
                error: function (textStatus, errorThrown) {
                    console.log("Something happened: ", errorThrown);
                    return null;
                },
                complete: function () { }
            });
        }

        function setTestData(email) {
            switch (email.toUpperCase()) {
                case "VALIDSSONOFOPS@TEST.COM":
                    // EasyPay account with a valid Auth0 token
                    validSso = true;
                    localStorage.setItem("validAuth0Token", "true");
                    localStorage.setItem("VALIDSSONOFOPS@TEST.COM", "{\"USER_NAME\": \"validssonofops@test.com\",\"firstName\": \"ValidSso\",\"lastName\": \"NoEasyPay\",\"companyId\": \"Fidelity National & Financial\",\"phoneNumber\": \"1234567890\",\"status\": \"VALID SSO, NO EasyPay\"}");
                    break;
                case "VALIDWITHOUTSSO@TEST.COM":
                    // EasyPay account without a valid Auth0 token
                    validSso = false;
                    localStorage.setItem("validAuth0Token", "false");
                    break;
                case "INVALIDWITHSSO@TEST.COM":
                    // No EasyPay account with a valid Auth0 token
                    validSso = true;
                    localStorage.setItem("validAuth0Token", "true");
                    localStorage.setItem("INVALIDWITHSSO@TEST.COM", "{\"USER_NAME\": \"invalidwithsso@test.com\",\"firstName\": \"InvalidEasyPay\",\"lastName\": \"WithSso\",\"companyId\": \"Fidelity National & Financial\",\"phoneNumber\": \"1234567890\",\"status\": \"INVALID EasyPay WITH SSO\"}");
                    break;
                case "INVALIDWITHOUTSSO@TEST.COM":
                    // No EasyPay account without a valid Auth0 token
                    validSso = false;
                    localStorage.setItem("validAuth0Token", "false");
                    break;
                default:
                    break;
            }
        }
    </script>
}
